@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter;
}

body {
  background: #f9f9f9;
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

@media (max-width: 425px) {
  .container {
    max-width: 425px;
    margin: 0 auto;
    padding: 0 20px;
  }
  .container-slider {
    max-width: 425px;
    margin: 0 auto;
    padding: 0 10px 0 10px;
  }
  header {
    overflow-x: hidden;
    margin-top: 10px;
  }
  header .header-content {
    background-color: #fff;
  }
  header .header-content .head-content {
    border-top: 1px solid #f3f3f3;
    border-bottom: 1px solid #f3f3f3;
    margin-top: 10px;
    padding: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  header .header-content .head-content .logo-div {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  header .category {
    margin: 20px 0;
  }
  header .category .category-content::-webkit-scrollbar {
    display: none;
  }
  header .category .category-content {
    overflow-x: scroll;
    scrollbar-width: none;
    display: flex;
    align-items: center;
    gap: 12px;
  }
  header .category .category-content li {
    border-radius: 6px;
    border: 1px solid #f0f0f0;
    padding: 8px 12px;
  }
  header .category .category-content li a {
    color: #191919;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    display: flex;
    align-items: center;
    gap: 8px;
  }
  header .hero .hero-content::-webkit-scrollbar {
    display: none;
  }
  header .hero .hero-content {
    scrollbar-width: none;
    overflow-x: scroll;
    display: flex;
    align-items: center;
    gap: 20px;
  }
  header .hero .hero-content img {
    margin-left: 20px;
  }
  header .hero .hero-content li {
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
    padding: 20px;
    background-image: url(/img/hero-img/hero-bg1.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 280px;
    height: 320px;
    border-radius: 12px;
  }
  header .hero .hero-content li p {
    width: 240px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #fff;
  }
  header .modal-accaunt {
    transform: translateX(425px);
    transition: all ease 0.5s;
    display: none;
    top: 75px;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
    background: #fff;
  }
  header .modal-accaunt .registration {
    border-top: 1px solid #f3f3f3;
    border-bottom: 1px solid #f3f3f3;
    padding: 20px 20px 20px 0;
  }
  header .modal-accaunt .registration a {
    color: #191919;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    display: flex;
    align-items: center;
    gap: 16px;
  }
  header .modal-accaunt .modal-content {
    padding: 20px 0;
    display: grid;
    row-gap: 20px;
  }
  header .modal-accaunt .modal-content li a {
    color: #191919;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  header .modal-accaunt .contact {
    width: 100%;
    position: absolute;
    border-top: 1px solid #f3f3f3;
    border-bottom: 1px solid #f3f3f3;
    padding: 20px 0 75px;
    display: grid;
    row-gap: 20px;
  }
  header .modal-accaunt .contact li a {
    display: flex;
    gap: 12px;
    align-items: center;
    color: #191919;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  header .modal-accaunt .contact li .sm {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  header .modal-accaunt .contact li .sm a {
    display: flex;
    align-items: center;
  }
  header .modal-accaunt .work-time {
    text-align: center;
    width: 100%;
    padding: 16px 0;
    border-top: 1px solid #f3f3f3;
    border-bottom: 1px solid #f3f3f3;
    position: absolute;
    bottom: 20px;
    right: 0px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #a5a5a5;
  }
  header .modal-accaunt-active {
    display: block;
    transform: translateX(0);
    transition: all ease 0.5s;
  }
  header .filter-modal {
    z-index: 1000;
    display: none;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    background-color: #fff;
    top: 100px;
    right: 0;
    left: 0;
    bottom: 0;
    position: fixed;
    padding-top: 20px;
  }
  header .filter-modal .hr-design {
    border-radius: 12px;
    margin: 0 auto;
    width: 150px;
    height: 3px;
    background-color: #191919;
  }
  header .filter-modal .filter-title {
    padding: 15px 0;
    opacity: 0.5;
    font-size: 16px;
    font-weight: 500;
  }
  header .filter-modal .filter-content {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
  }
  header .filter-modal .filter-content li .filter-item {
    display: inline-block;
    border: 2px solid #f0f0f0;
    padding: 10px 16px;
    border-radius: 6px;
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: #191919;
  }
  header .filter-modal .filter-content li .filter-item-active {
    background-color: #ff7010;
    color: #fff;
  }
  header .filter-modal .filter-btn {
    padding: 12px;
    border-top: 1px solid #f3f3f3;
    position: absolute;
    bottom: 40px;
    left: 20px;
    right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header .filter-modal .filter-btn .filter-reset {
    border-radius: 6px;
    padding: 13px 49px;
    border: 1px solid #ff7010;
    color: #ff7010;
    background: transparent;
  }
  header .filter-modal .filter-btn .filter-apply {
    border: none;
    border-radius: 6px;
    padding: 13px 49px;
    background-color: #ff7010;
    color: #fff;
  }
  header .filter-modal-active {
    display: block;
  }
  main .cart-icon {
    position: fixed;
    right: -10px;
    bottom: 0;
  }
  main .cart-icon img:nth-child(2) {
    transform: translate(-53px, -25px);
  }
  main .cart-icon .circle {
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border: #ff7010 1px solid;
    position: relative;
    left: 45px;
    bottom: 73px;
  }
  main .cart-icon .circle .cart-quantity {
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #ff7010;
  }
  main .location-section {
    background-color: #fff;
    margin: 33px 0;
    padding: 20px;
  }
  main .location-section h2 {
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #191919;
  }
  main .location-section .location-content {
    border-top: 1px solid #f0f0f0;
    border-left: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  main .location-section .location-content img {
    margin: 0 10px;
  }
  main .location-section .location-content input {
    width: 266px;
    outline: none;
    border: none;
    padding: 13px 0;
  }
  main .location-section .location-content button {
    border: none;
    padding: 14px 8px;
    background: #ff7010;
    border-radius: 6px;
  }
  main #pizza {
    transition: all ease 0.3s;
  }
  main .product-section {
    transition: all ease 0.3s;
    margin: 20px 0;
  }
  main .product-section .section-top {
    display: flex;
    align-content: center;
    justify-content: space-between;
  }
  main .product-section .section-top p {
    font-family: Inter;
    font-size: 28px;
    font-weight: 600;
    line-height: 32px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #191919;
  }
  main .product-section .section-top .filter-btn {
    gap: 10px;
    display: flex;
    align-items: center;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #191919;
    border: 1px solid #f0f0f0;
    border-radius: 6px;
    padding: 10px 12px;
    background-color: #fff;
  }
  main .product-section .product-content li {
    margin: 12px 0;
    border-radius: 12px;
    border: 1px solid #f0f0f0;
    background-color: #fff;
    padding: 12px;
    display: flex;
    align-items: center;
    gap: 12px;
  }
  main .product-section .product-content li h3 {
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #191919;
    text-align-last: left;
  }
  main .product-section .product-content li p {
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #191919;
    margin: 8px 0 10px;
  }
  main .product-section .product-content li .cost {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  main .product-section .product-content li .cost .new-price {
    background: #ffeee2;
    border-radius: 6px;
    padding: 8px 16px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #191919;
    color: #ff7010;
  }
  main .product-section .product-content li .cost .old-price {
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #191919;
    color: #a5a5a5;
    text-decoration: line-through;
  }
  footer {
    padding: 24px 0;
    background: #fff;
  }
  footer .foot .logo-footer {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 12px;
  }
  footer .foot .logo-footer p {
    font-size: 22px;
  }
  footer .foot .modal-content {
    padding: 20px 0;
    display: grid;
    row-gap: 20px;
  }
  footer .foot .modal-content li a {
    color: #191919;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  footer .foot .contact {
    padding: 20px 0 20px;
    display: grid;
    row-gap: 20px;
    border-bottom: #f3f3f3 solid 1px;
  }
  footer .foot .contact li a {
    display: flex;
    gap: 12px;
    align-items: center;
    color: #191919;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  footer .foot .contact li .sm {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  footer .foot .contact li .sm a {
    display: flex;
    align-items: center;
  }
  footer .foot .footer-span {
    padding-top: 20px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #191919;
  }
}

/*# sourceMappingURL=main.css.map */
