@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter;
}

body {
  background: #f9f9f9;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

@media (max-width: 425px) {
  .container {
    max-width: 425px;
    margin: 0 auto;
    padding: 0 20px;
  }
  .container-slider {
    max-width: 425px;
    margin: 0 auto;
    padding: 0 0 0 20px;
  }
  header {
    overflow-x: hidden;
    margin-top: 10px;
  }
  header .header-content .head-content {
    border-top: 1px solid #f3f3f3;
    border-bottom: 1px solid #f3f3f3;
    margin-top: 10px;
    padding: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  header .header-content .head-content .logo-div {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  header .category {
    margin: 20px 0;
  }
  header .category .category-content::-webkit-scrollbar {
    display: none;
  }
  header .category .category-content {
    overflow-x: scroll;
    scrollbar-width: none;
    display: flex;
    align-items: center;
    gap: 12px;
  }
  header .category .category-content li {
    border-radius: 6px;
    border: 1px solid #f0f0f0;
    padding: 8px 12px;
  }
  header .category .category-content li a {
    color: #191919;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    display: flex;
    align-items: center;
    gap: 8px;
  }
  header .hero .hero-content::-webkit-scrollbar {
    display: none;
  }
  header .hero .hero-content {
    scrollbar-width: none;
    overflow-x: scroll;
    display: flex;
    align-items: center;
    gap: 20px;
  }
  header .hero .hero-content img {
    margin-left: 20px;
  }
  header .hero .hero-content li {
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
    padding: 20px;
    background-image: url(/img/hero-img/hero-bg1.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 280px;
    height: 320px;
    border-radius: 12px;
  }
  header .hero .hero-content li p {
    width: 240px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #fff;
  }
  header .modal-accaunt {
    transform: translateX(425px);
    transition: all ease 0.5s;
    top: 75/px;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
    background: #fff;
  }
  header .modal-accaunt .registration {
    border-top: 1px solid #f3f3f3;
    border-bottom: 1px solid #f3f3f3;
    padding: 20px 20px 20px 0;
  }
  header .modal-accaunt .registration a {
    color: #191919;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    display: flex;
    align-items: center;
    gap: 16px;
  }
  header .modal-accaunt .modal-content {
    padding: 20px 0;
    display: grid;
    row-gap: 20px;
  }
  header .modal-accaunt .modal-content li a {
    color: #191919;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  header .modal-accaunt .contact {
    width: 100%;
    position: absolute;
    border-top: 1px solid #f3f3f3;
    border-bottom: 1px solid #f3f3f3;
    padding: 20px 0 75px;
    display: grid;
    row-gap: 20px;
  }
  header .modal-accaunt .contact li a {
    display: flex;
    gap: 12px;
    align-items: center;
    color: #191919;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  header .modal-accaunt .contact li .sm {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  header .modal-accaunt .contact li .sm a {
    display: flex;
    align-items: center;
  }
  header .modal-accaunt .work-time {
    text-align: center;
    width: 100%;
    padding: 16px 0;
    border-top: 1px solid #f3f3f3;
    border-bottom: 1px solid #f3f3f3;
    position: absolute;
    bottom: 20px;
    right: 0px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #a5a5a5;
  }
  header .modal-accaunt-active {
    display: block;
    transform: translateX(0);
    transition: all ease 0.5s;
  }
  main .location-section {
    background-color: #fff;
    margin: 33px 0;
    padding: 20px;
  }
  main .location-section h2 {
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #191919;
  }
  main .location-section .location-content {
    border-top: 1px solid #f0f0f0;
    border-left: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  main .location-section .location-content img {
    margin: 0 10px;
  }
  main .location-section .location-content input {
    width: 266px;
    outline: none;
    border: none;
    padding: 13px 0;
  }
  main .location-section .location-content button {
    border: none;
    padding: 14px 8px;
    background: #ff7010;
    border-radius: 6px;
  }
}

/*# sourceMappingURL=main.css.map */
