@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter;
}
body {
  background: #f9f9f9;
  scroll-behavior: smooth;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
@mixin section__title {
  font-family: Inter;
  font-size: 28px;
  font-weight: 600;
  line-height: 32px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #191919;
}
@mixin title__h2 {
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #191919;
}
@mixin title__h3 {
  font-family: Inter;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #191919;
}
@mixin title__p {
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #191919;
}
@mixin title__a {
  color: #191919;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
@media (max-width: 425px) {
  .container {
    max-width: 425px;
    margin: 0 auto;
    padding: 0 20px;
  }
  .container-slider {
    max-width: 425px;
    margin: 0 auto;
    padding: 0 10px 0 10px;
  }
  header {
    overflow-x: hidden;

    margin-top: 10px;
    .header-content {
      background-color: #fff;

      .head-content {
        border-top: 1px solid #f3f3f3;
        border-bottom: 1px solid #f3f3f3;
        margin-top: 10px;
        padding: 10px 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .logo-div {
          display: flex;
          align-items: center;
          gap: 12px;
        }
      }
    }
    .category {
      margin: 20px 0;
      .category-content::-webkit-scrollbar {
        display: none;
      }
      .category-content {
        overflow-x: scroll;
        scrollbar-width: none;
        display: flex;
        align-items: center;
        gap: 12px;

        li {
          border-radius: 6px;
          border: 1px solid #f0f0f0;
          padding: 8px 12px;
          a {
            @include title__a();
            display: flex;
            align-items: center;
            gap: 8px;
          }
        }
      }
    }
    .hero {
      .hero-content::-webkit-scrollbar {
        display: none;
      }
      .hero-content {
        scrollbar-width: none;
        overflow-x: scroll;
        display: flex;
        align-items: center;
        gap: 20px;
        img {
          margin-left: 20px;
        }
        li {
          display: flex;
          align-items: start;
          justify-content: space-between;
          flex-direction: column;
          padding: 20px;
          background-image: url(/img/hero-img/hero-bg1.svg);
          background-size: cover;
          background-repeat: no-repeat;
          width: 280px;
          height: 320px;
          border-radius: 12px;
          p {
            width: 240px;
            font-family: Inter;
            font-size: 20px;
            font-weight: 600;
            line-height: 28px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            color: #fff;
          }
        }
      }
    }

    // ===========================================
    // modal
    .modal-accaunt {
      transform: translateX(425px);
      transition: all ease 0.5s;
      display: none;
      top: 75px;
      bottom: 0;
      right: 0;
      left: 0;
      position: absolute;
      background: #fff;
      .registration {
        border-top: 1px solid #f3f3f3;
        border-bottom: 1px solid #f3f3f3;
        padding: 20px 20px 20px 0;
        a {
          @include title__a();
          display: flex;
          align-items: center;
          gap: 16px;
        }
      }
      .modal-content {
        padding: 20px 0;
        display: grid;
        row-gap: 20px;
        li {
          a {
            @include title__a();
          }
        }
      }
      .contact {
        width: 100%;
        position: absolute;
        border-top: 1px solid #f3f3f3;
        border-bottom: 1px solid #f3f3f3;
        padding: 20px 0 75px;
        display: grid;
        row-gap: 20px;
        li {
          a {
            display: flex;
            gap: 12px;
            align-items: center;
            @include title__a();
          }
          .sm {
            display: flex;
            align-items: center;
            gap: 20px;
            a {
              display: flex;
              align-items: center;
            }
          }
        }
      }
      .work-time {
        text-align: center;
        width: 100%;
        padding: 16px 0;
        border-top: 1px solid #f3f3f3;
        border-bottom: 1px solid #f3f3f3;
        position: absolute;
        bottom: 20px;
        right: 0px;
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #a5a5a5;
      }
    }
    // modal-transform
    .modal-accaunt-active {
      display: block;
      transform: translateX(0);
      transition: all ease 0.5s;
    }

    // filter-modal
    .filter-modal {
      z-index: 1000;
      display: none;
      border-top-right-radius: 30px;
      border-top-left-radius: 30px;
      background-color: #fff;
      top: 100px;
      right: 0;
      left: 0;
      bottom: 0;
      position: fixed;
      padding-top: 20px;
      .hr-design {
        border-radius: 12px;
        margin: 0 auto;
        width: 150px;
        height: 3px;
        background-color: #191919;
      }

      .filter-title {
        padding: 15px 0;
        opacity: 0.5;
        font-size: 16px;
        font-weight: 500;
      }
      .filter-content {
        display: flex;
        align-items: center;
        gap: 8px;
        flex-wrap: wrap;
        li {
          .filter-item {
            display: inline-block;
            border: 2px solid #f0f0f0;
            padding: 10px 16px;
            border-radius: 6px;
            font-family: Inter;
            font-size: 12px;
            font-weight: 400;
            line-height: 16px;
            color: #191919;
          }
          .filter-item-active {
            background-color: #ff7010;
            color: #fff;
          }
        }
      }
      .filter-btn {
        padding: 12px;
        border-top: 1px solid #f3f3f3;
        position: absolute;
        bottom: 40px;
        left: 20px;
        right: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .filter-reset {
          border-radius: 6px;
          padding: 13px 49px;
          border: 1px solid #ff7010;
          color: #ff7010;
          background: transparent;
        }
        .filter-apply {
          border: none;
          border-radius: 6px;
          padding: 13px 49px;
          background-color: #ff7010;
          color: #fff;
        }
      }
    }
    .filter-modal-active {
      display: block;
    }
  }

  // ===========================================

  main {
    .cart-icon {
      position: fixed;
      right: -10px;
      bottom: 0;
      img:nth-child(2) {
        transform: translate(-53px, -25px);
      }
      .circle {
        background-color: #fff;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20px;
        height: 20px;
        border: #ff7010 1px solid;
        position: relative;
        left: 45px;
        bottom: 73px;
        .cart-quantity {
          font-family: Inter;
          font-size: 12px;
          font-weight: 400;
          line-height: 16px;
          text-align: center;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
          color: #ff7010;
        }
      }
    }
    .location-section {
      background-color: #fff;
      margin: 33px 0;
      padding: 20px;
      h2 {
        @include title__h2();
      }
      .location-content {
        border-top: 1px solid #f0f0f0;
        border-left: 1px solid #f0f0f0;
        border-bottom: 1px solid #f0f0f0;
        margin-top: 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        img {
          margin: 0 10px;
        }
        input {
          width: 266px;
          outline: none;
          border: none;
          padding: 13px 0;
        }
        button {
          border: none;
          padding: 14px 8px;
          background: #ff7010;
          border-radius: 6px;
        }
      }
    }
    #pizza {
      transition: all ease 0.3s;
    }
    .product-section {
      transition: all ease 0.3s;
      margin: 20px 0;
      .section-top {
        display: flex;
        align-content: center;
        justify-content: space-between;
        p {
          @include section__title();
        }
        .filter-btn {
          gap: 10px;
          display: flex;
          align-items: center;
          font-family: Inter;
          font-size: 14px;
          font-weight: 400;
          line-height: 18px;
          text-align: center;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
          color: #191919;
          border: 1px solid #f0f0f0;
          border-radius: 6px;
          padding: 10px 12px;
          background-color: #fff;
        }
      }
      .product-content {
        li {
          margin: 12px 0;
          border-radius: 12px;
          border: 1px solid #f0f0f0;
          background-color: #fff;
          padding: 12px;
          display: flex;
          align-items: center;
          gap: 12px;
          h3 {
            @include title__h2();
            text-align-last: left;
          }
          p {
            @include title__p();
            margin: 8px 0 10px;
          }
          .cost {
            display: flex;
            align-items: center;
            gap: 12px;
            .new-price {
              background: #ffeee2;
              border-radius: 6px;
              padding: 8px 16px;
              @include title__h2();
              color: #ff7010;
            }
            .old-price {
              @include title__h2();
              color: #a5a5a5;
              text-decoration: line-through;
            }
          }
        }
      }
    }
  }
  footer {
    padding: 24px 0;
    background: #fff;

    .foot {
      .logo-footer {
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        gap: 12px;
        p {
          font-size: 22px;
        }
      }
      .modal-content {
        padding: 20px 0;
        display: grid;
        row-gap: 20px;
        li {
          a {
            @include title__a();
          }
        }
      }
      .contact {
        padding: 20px 0 20px;
        display: grid;
        row-gap: 20px;
        border-bottom: #f3f3f3 solid 1px;
        li {
          a {
            display: flex;
            gap: 12px;
            align-items: center;
            @include title__a();
          }
          .sm {
            display: flex;
            align-items: center;
            gap: 20px;
            a {
              display: flex;
              align-items: center;
            }
          }
        }
      }
      .footer-span {
        padding-top: 20px;
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #191919;
      }
    }
  }
}
