@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter;
}
body {
  background: #f9f9f9;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
@mixin section__title {
  font-family: Inter;
  font-size: 28px;
  font-weight: 600;
  line-height: 32px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #191919;
}

@media (max-width: 425px) {
  .container {
    max-width: 425px;
    margin: 0 auto;
    padding: 0 20px;
  }
  header {
    margin-top: 10px;
    .header-content {
      border: 1px solid #f3f3f3;
      .head-content {
        margin-top: 10px;
        padding: 15px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .logo-div {
          display: flex;
          align-items: center;
          gap: 12px;
        }
      }
    }
    .category {
      margin: 20px 0;
      .category-content {
        overflow-x: visible;
        display: flex;
        align-items: center;
        gap: 12px;

        li {
          border-radius: 6px;
          border: 1px solid #f0f0f0;
          padding: 8px 12px;
          a {
            display: flex;
            align-items: center;
            gap: 8px;
          }
        }
      }
    }
  }
}
