@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter;
}
body {
  background: #f9f9f9;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
@mixin section__title {
  font-family: Inter;
  font-size: 28px;
  font-weight: 600;
  line-height: 32px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #191919;
}
@mixin title__h2 {
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #191919;
}
@mixin title__h3 {
  font-family: Inter;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #191919;
}
@mixin title__p {
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #191919;
}
@media (max-width: 425px) {
  .container {
    max-width: 425px;
    margin: 0 auto;
    padding: 0 20px;
  }
  header {
    margin-top: 10px;
    .header-content {
      border: 1px solid #f3f3f3;
      .head-content {
        margin-top: 10px;
        padding: 15px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .logo-div {
          display: flex;
          align-items: center;
          gap: 12px;
        }
      }
    }
    .category {
      margin: 20px 0;
      .category-content {
        overflow-x: scroll;
        display: flex;
        align-items: center;
        gap: 12px;

        li {
          border-radius: 6px;
          border: 1px solid #f0f0f0;
          padding: 8px 12px;
          a {
            display: flex;
            align-items: center;
            gap: 8px;
          }
        }
      }
    }
    .hero {
      .hero-content {
        overflow-x: scroll;
        display: flex;
        align-items: center;
        gap: 20px;
        img {
          margin-left: 20px;
        }
        li {
          display: flex;
          align-items: start;
          justify-content: space-between;
          flex-direction: column;
          padding: 20px;
          background-image: url(/img/hero-img/hero-bg1.svg);
          background-size: cover;
          background-repeat: no-repeat;
          width: 280px;
          height: 320px;
          border-radius: 12px;
          p {
            font-family: Inter;
            font-size: 20px;
            font-weight: 600;
            line-height: 28px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            color: #fff;
          }
        }
      }
    }
  }
  main {
    .location-section {
      background-color: #fff;
      margin: 33px 0;
      padding: 20px;
      h2 {
        @include title__h2();
      }
      .location-content {
        border-top: 1px solid #f0f0f0;
        border-left: 1px solid #f0f0f0;
        border-bottom: 1px solid #f0f0f0;
        margin-top: 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        img {
          margin: 0 10px;
        }
        input {
          width: 266px;
          outline: none;
          border: none;
          padding: 13px 0;
        }
        button {
          border: none;
          padding: 14px 8px;
          background: #ff7010;
          border-radius: 6px;
        }
      }
    }
  }
}
